In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras import layers
from keras.layers import LSTM, Dense, Dropout, Masking, Embedding
from keras.callbacks import ModelCheckpoint

WARNING:tensorflow:From C:\Users\sanhi\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df = pd.read_csv('Labeled_tweets.csv')

In [3]:
df.head()

,user_location,date,cleaned_text,sentiment
0,astroworld,2020-07-25 12:27:21,smelled the scent hand sanitizers today someon...,0
1,"New York, NY",2020-07-25 12:27:17,Hey and wouldn't have made more sense have the...,2
2,"Pewee Valley, KY",2020-07-25 12:27:14,Trump never once claimed COVID19 was hoax. all...,1
3,Stuck in the Middle,2020-07-25 12:27:10,The one gift COVID19 has give appreciation for...,1
4,Jammu and Kashmir,2020-07-25 12:27:08,July Media Bulletin Novel CoronaVirusUpdates C...,1

In [4]:
df['cleaned_text'] = df['cleaned_text'].astype(str)  # Convert to string type
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.lower())  # Convert to lowercase
most_common_word = df['cleaned_text'].mode().iloc[0]
df['cleaned_text'].fillna(most_common_word, inplace=True)
df['cleaned_text'] = df['cleaned_text'].str.replace('[?!:;..,]', '', regex=True)
df.tail(15)

,user_location,date,cleaned_text,sentiment
179093,"Norwalk, CT",2020-08-29 19:44:48,what are those library cats doing now covid19 ...,1
179094,Utrecht,2020-08-29 19:44:46,"""symptom screening fails identify most covid19...",1
179095,"Lansing, MI",2020-08-29 19:44:42,covid19 update new cases today the tri-county ...,2
179096,"Los Angeles, CA",2020-08-29 19:44:40,were really bummed couldnâ€™t cop one these time...,2
179097,NaN,2020-08-29 19:44:35,just not the lives covid19 sufferers coronavir...,1
179098,NaN,2020-08-29 19:44:34,report covid19 outbreaks k-12 schools here clo...,1
179099,"la playa, el mar .. mi corazÃ³n",2020-08-29 19:44:34,have nothing but for the these days not only d...,1
179100,"Newton, NJ",2020-08-29 19:44:27,wallkill school nurse adds covid-19 monitoring...,1
179101,"Newton, NJ",2020-08-29 19:44:27,wallkill school nurse adds covid-19 monitoring...,1
179102,T.O.,2020-08-29 19:44:23,have reached 25mil cases covid19 worldwide oof,1
179103,"Ilorin, Nigeria",2020-08-29 19:44:21,thanks for nominating for the wearamask challe...,2
179104,Ontario,2020-08-29 19:44:16,2020 the year insanity lol covid19,2
179105,ðŸ‡¨ðŸ‡¦ Canada,2020-08-29 19:44:15,powerful painting juan lucena it's tribute the...,2
179106,New York City,2020-08-29 19:44:14,more than 1200 students test positive for covi...,2
179107,"Aliwal North, South Africa",2020-08-29 19:44:08,stop when see stop,1

In [5]:
#labels=tf.keras.utils.to_categorical(y, 5,dtype ="int32")

In [6]:

#tokenizer = Tokenizer()
#tokenizer.fit_on_texts(df)

In [7]:
#sequences = tokenizer.texts_to_sequences(df)
#text = pad_sequences(sequences)

In [8]:
#num_words = len(tokenizer.word_index) + 1
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, labels, train_size=0.75, test_size=0.25, random_state=3)

In [9]:
#print(X_train.shape)
#print(X_test.shape)
#print(y_train.shape)
#print(y_test.shape)

In [10]:
#import random
#import os
####*IMPORANT*: Have to do this line *before* importing tensorflow
#os.environ['PYTHONHASHSEED']=str(1)

#def reset_random_seeds():
#   os.environ['PYTHONHASHSEED']=str(1)
 #  tf.random.set_seed(1)
  # np.random.seed(1)
   #random.seed(1)

#make some random data
#reset_random_seeds()

#reset_random_seeds() 
#model1 = Sequential()

#model1.add(layers.Embedding(num_words, 1000))
#model1.add(layers.SimpleRNN(128,dropout=0.9))
#model1.add(Dropout(0.09))
#model1.add(Dropout(0.05))
#model1.add(layers.Dense(5,activation='softmax'))

In [11]:
X = df.cleaned_text
Y = df.sentiment

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [13]:
Y

array([[0],
       [2],
       [1],
       ...,
       [2],
       [2],
       [1]], dtype=int64)

In [14]:
#Split into training and test data.
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [15]:
X_train

95943     official covid19 update thailand sunday ðŸ”¸3351 ...
127266    badayetechtw20kit are live "tukyusa bulamu" ha...
29454     prime minister shri narendra modi will launch ...
106824    ewik particularly nasty bot that chooses keep ...
140626    jeez are they still bleating with this irrelev...
                                ...
93997     india plans fell ecologically sensitive forest...
80248     please commit first trimester schools remote l...
49865     breaking cured except for the mold mold his lu...
54015     mumbai's latest covid19 status glance case sum...
157952        watching this has been worse for than covid19
Name: cleaned_text, Length: 143286, dtype: object

In [16]:
from keras.preprocessing import sequence
max_words = 1000
max_len = 250
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

In [17]:
sequences[0]

[725, 2, 75, 538, 22, 363, 445, 618, 10, 170, 486]

In [18]:
for i in range(10):
    print(len(sequences[i]))

11
7
5
2
9
15
10
3
6
5

In [19]:
for i in range(10):
    print(len(sequences_matrix[i]))

250
250
250
250
250
250
250
250
250
250

In [20]:
sequences_matrix[0]

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0, 725,   2,  75, 538,  22, 363, 445, 618,
        10, 170, 486])

In [21]:
len(sequences_matrix[0])

250

In [22]:
X_train[1]

"hey and wouldn't have made more sense have the players pay their respects the"

In [23]:
from keras.models import Model
from keras.layers import SimpleRNN, Activation, Dense, Dropout, Input, Embedding, LSTM
from keras.optimizers import RMSprop
def RNNmodel():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(32)(layer)
    layer = Dense(256,name='FC1',activation='relu')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [24]:
model = RNNmodel()
model.summary()
model.compile(loss='binary_crossentropy',optimizer='rmsprop',metrics=['accuracy',tf.keras.metrics.Precision()])

WARNING:tensorflow:From C:\Users\sanhi\anaconda3\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 250)]             0

 embedding (Embedding)       (None, 250, 50)           50000

 lstm (LSTM)                 (None, 32)                10624

 FC1 (Dense)                 (None, 256)               8448

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 69329 (270.82 KB)
Trainable params: 69329 (270.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
WARNING:tensorflow:From C:\Users\sanhi\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10, validation_split=0.2)

Epoch 1/10
WARNING:tensorflow:From C:\Users\sanhi\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sanhi\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

896/896 [==============================] - 191s 208ms/step - loss: -295.4244 - accuracy: 0.4194 - precision: 0.8345 - val_loss: -823.8884 - val_accuracy: 0.4148 - val_precision: 0.8331
Epoch 2/10
896/896 [==============================] - 192s 214ms/step - loss: -1792.3298 - accuracy: 0.4195 - precision: 0.8344 - val_loss: -3028.9290 - val_accuracy: 0.4148 - val_precision: 0.8331
Epoch 3/10
896/896 [==============================] - 202s 226ms/step - loss: -4679.3950 - accuracy: 0.4195 - precision: 0.8344 - val_loss: -6617.1187 - val_accuracy: 0.4148 - val_precision: 0.8331
Epoch 4/10
896/896 [==============================] - 201s 225ms/step - loss: -8892.1064 - accuracy: 0.4195 - precision: 0.8344 - val_loss: -11599.4082 - val_accuracy: 0.4148 - val_precision: 0.8331
Epoch 5/10
896/896 [==============================] - 201s 224ms/step - loss: -15194.2451 - accuracy: 0.4237 - precision: 0.8383 - val_loss: -21265.3516 - val_accuracy: 0.4402 - val_precision: 0.8556
Epoch 6/10
896/896 [==============================] - 196s 219ms/step - loss: -26620.0332 - accuracy: 0.4611 - precision: 0.8719 - val_loss: -30320.6289 - val_accuracy: 0.4521 - val_precision: 0.8651
Epoch 7/10
896/896 [==============================] - 192s 215ms/step - loss: -38242.1797 - accuracy: 0.4669 - precision: 0.8768 - val_loss: -44853.1680 - val_accuracy: 0.4707 - val_precision: 0.8829
Epoch 8/10
896/896 [==============================] - 202s 225ms/step - loss: -50863.9609 - accuracy: 0.4663 - precision: 0.8779 - val_loss: -59019.8555 - val_accuracy: 0.4653 - val_precision: 0.8779
Epoch 9/10
896/896 [==============================] - 193s 215ms/step - loss: -66635.4844 - accuracy: 0.4727 - precision: 0.8823 - val_loss: -75276.7031 - val_accuracy: 0.4792 - val_precision: 0.8919
Epoch 10/10
896/896 [==============================] - 175s 196ms/step - loss: -83623.8438 - accuracy: 0.4726 - precision: 0.8822 - val_loss: -93153.5938 - val_accuracy: 0.4877 - val_precision: 0.9011

In [26]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [27]:
accr = model.evaluate(test_sequences_matrix,Y_test)

1120/1120 [==============================] - 39s 35ms/step - loss: -94449.8359 - accuracy: 0.4890 - precision: 0.9057

In [28]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: -94449.836
  Accuracy: 0.489